<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo%></title>
</head>
<body>
    <body>
        <h1>Lista de Estudiantes</h1>
        <ul>
          <% estudiantes.forEach(estudiante => { %>
            <li><%= estudiante.nombre %> <%= estudiante.apellido %> - <%= estudiante.fechaNacimiento %></li>
          <% }) %>
        </ul>
      </body>
</body>
</html>