<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="shortcut icon" href="./img/UTS-logo.jpeg" type="image/x-icon">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <h2>Menú</h2>
            <ul>
                <li><a href="/inicio">Inicio</a></li>
                <li><a href="/login">Salir</a></li>
            </ul>
        </aside>

        <div id="modal" style="display:none;">
            <div id="modalContent"></div>
            <button onclick="document.getElementById('modal').style.display='none'">Cerrar</button>
        </div>       
         
        <main class="content">
            <h1>Seguimiento de estudiantes</h1>
            <div class="filter">
                <label for="filterInput">Filtrar por:</label>
                <select id="filterSelect">
                    <option value="codigoEstudiante">Código</option>
                    <option value="nombre">Nombre</option>
                    <option value="apellido">Apellido</option>
                    <option value="discapacidad">Discapacidad</option>
                    <option value="telefono">Teléfono</option>
                </select>
                <input type="text" id="filterInput">
                <button onclick="filterTable()">Buscar</button>
            </div>
            <table id="studentsTable">
                <thead>
                    <tr>
                        <th onclick="sortTable(0)">Código</th>
                        <th onclick="sortTable(1)">Nombre y Apellido</th>
                        <th onclick="sortTable(2)">Discapacidad</th>
                        <th onclick="sortTable(3)">Teléfono</th>
                        <th onclick="sortTable(4)">Fecha Nacimiento</th>
                    </tr>
                </thead>
                <tbody id="studentsTableBody">
                    <!-- Aquí van los datos de los estudiantes -->
                </tbody>
            </table>
            <div class="pagination">
                <button onclick="prevPage()">Anterior</button>
                <span id="pageInfo"></span>
                <button onclick="nextPage()">Siguiente</button>
            </div>
        </main>
    </div>
    <script src="./js/index.js"></script>
</body>
</html>
