body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #29903B; /* Verde oscuro */
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.content {
    margin-left: 220px;
    padding: 20px;
    width: calc(100% - 220px);
}

h1 {
    text-align: center;
    color: #0B2975; /* Verde oscuro */
}

.filter {
    margin-bottom: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
/*Tablas*/
th {
    background-color: #CAD225; /* Verde claro */
}

tr:hover {
    background-color: #E8E520; /* Verde muy claro */
}

.details-row {
    display: none;
}

.details-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    background-color: #0B2975;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

/*Botones*/
.pagination button {
    background-color: #2e7d32; /* Verde oscuro */
}

.pagination button:hover {
    background-color: #1b5e20; /* Verde más oscuro */
}
