* {
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .login-card {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    border-top: 10px solid #CAD225;
  }
  .login-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  label {
    display: block;
    margin: 15px 0 5px;
    font-size: 16px;
    font-weight: bold;
    color: #555;
  }
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  button {
    width: 100%;
    padding: 12px;
    background-color: #E8E520;
    color: #29903B;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  button:hover {
    background-color: #CAD225;
  }
  .error {
    color: red;
    margin-bottom: 20px;
  }